<div class="row owl-carousel owl-theme owl-slideshow">
{{#each data.slideshow}}
    <div class="item">
        <img src={{this}} alt="" class="img-fluid slideshow-img">
    </div>
{{/each}}
</div>
<div>
    <br>
</div>
