{{>heading}}
{{#if data.featured_products}}
    <hr>
    <h2>Featured Products</h2>
    {{>featured_products}}
    <hr>
{{/if}}

{{#if data.categories}}
    <h2>Shop By Category</h2>
    <div class="row gallery">
    {{#each data.categories}} <!-- Loop through products -->
        <div class="col-4 galleryItem text-center mb-4">
            <a href="/{{this.category}}"> 
                <img class="img-fluid" src="{{this.image}}" alt="{{this.name}}">
                <h5 class="mt-2">{{this.name}}</h5> 
            </a>
        </div>
    {{/each}}
    </div>
{{/if}}