body{
    background-color: #fffaf8;
}

.brown{
    background-color: #352319;
}

.nav-link{
    color: #fffaf8;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.nav-item {
    margin-left: 1vw;
}

.nav-link:hover{
    color: #eae1cf;
}

.navbar-nav .nav-link.active{
    color: #eae1cf;
    text-decoration: solid underline #eae1cf;
}

.navbar-brand:hover{
    color: #fffaf8;
}

.card-img-top {
    aspect-ratio: 4/3;
    object-fit: cover;
}

.nav-height{
    height: 15vh;
}

.nav-text{
    font: 1.2em sans-serif;
}

.img-fluid{
    aspect-ratio: 4/3;
    object-fit: cover;
    margin-top: 2vh;
}


.galleryItem img {
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  }

.galleryItem img:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.9; 
}

.galleryItem a{
    text-decoration: none;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: 0.5vh;
}

.add-to-cart{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: #352319;
    color: #fffaf8;
    border: none;
}

.add-to-cart:hover{
    background-color: #eae1cf;
    color: #352319;
}

.cart-checkout{
    display: flex;
}

.checkout{
    scale: 1.2;
}

.slideshow-img{
    margin-top: 2vh;
    height: 70vh;
    margin-left: -1vw;
}

.navbar-brand{
    font-family: "Playfair Display", serif;
    font-size: 1.8em;
    font-weight: 700;
    color: #fffaf8;
}

body {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 4em;
    font-weight: 500;
    color: black;
}

.primary-heading{
    padding-top: 18vh;
}

p, label, li {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

label{
    padding-top: 1vh;
}

h2{
    font-family: "Playfair Display", serif;
    font-size: 2.4em;
    font-weight: 500;
    color: black;
}

h3{
    font-family: "Playfair Display", serif;
    font-size: 2em;
    font-weight: 500;
    color: black;
}

a{
    text-decoration: underline;
    color: #352319;
}

.card .card-title , .card p, .card a{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #000000;
}

.abstract{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 2vh;
}

hr{
    border: 1px solid #352319;
}

.short-height {
    margin-top: 15vh;
    height: 65vh;
    object-fit: cover; 
}

.gallery-margin{
    margin-top: 2vh;
}

.banner-container {
    position: relative;
}

.half-of-flex{
    width:50%;
}

.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fffaf8;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 6em;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #352319;
}

.details-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 18vh;
}

.product-details{
    margin-top: 18vh;
}

#mainImage{
    height: 55vh;
    aspect-ratio: 5/6;
    object-fit: cover;
}

.big-row{
    max-width: 30vw;
}

.details-bot-images{
    max-width: 10vw;
}

.suggested-product{
    width: 50vw;
    margin: auto;
}

.cart-header, .checkout-header, .thank-header, .error-header, .about-header{
    margin-top: 18vh;
}

.cart-button{
    background-color: #fffaf8;
    color: #352319;
}

.cart-button:hover{
    background-color: #eae1cf;
    color: #352319;
}

.cart-page-button{
    background-color: #352319;
    color: #fffaf8;
    border: none;
}

.cart-page-button:hover{
    background-color: #eae1cf;
    color: #352319;
}